* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(img/fundo.png);
}

header {
    background-color: black;
}

a {
    color: white;
    margin: 5px;
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

h1 {
    font-family: sans-serif
}